<div class="col-sm-8 offset-sm-2">
  <div class="text-center">
    <h2>Welcome to your Dashboard!</h2>
    <%= link_to "Create a new listing!", listings_new_path, class: "btn btn-primary mt-2" %>
    <%= link_to "Sign out", sign_out_path %>
  </div>
  <br/>
  <h4>My Listings (<%= @count %>)</h4>

</div>
