<div class="col-sm-6 offset-sm-3 text-center">
  <h2>Welcome to your Dashboard!</h2>
  <%= link_to "Create a new listing!", listings_new_path, class: "btn btn-primary" %>
  <%= link_to "Sign out", sign_out_path %>
</div>
