<% if current_user == @listing.user %>
  <%= link_to "Delete this listing!", listings_destroy_path(listing_id: @listing.id), method: :post, class: "btn btn-primary "%>
<% end %>
<h2><%= @listing.name %></h2>
<h5><%= @address %></h5>