<% comment.replies.each do |reply| %>
  <div class="row">
    <div class="col-sm-9 offset-sm-1">
      <hr/>
      <h5><%=reply.email%> said:</h5>
      <p><%= reply.body%></p>
    </div>
    <div class="col-sm-9 offset-sm-1">
      <% if @user == reply.user %>
        <%= link_to "delete", reply_delete_path(reply_id: reply.id), method: :delete, data: { confrim: 'Are you sure?' } %>
      <% end %>
    </div>
    <div class="col-sm-2 text-right">
      <%= time_display(reply.created_at) %>
    </div>
  </div>
<% end %>